<div class="container" background-color="none">
  <div class="cards">
    <% @tools.each do |tool| %>
      <div class="card-category" > <%= link_to "#{tool.name} | #{tool.tool_type}", tool_path(tool), class:"name-link"%>
      </div>
    <% end %>
  </div>
</div>

<%= cl_image_tag("hammer_g97gec",
      width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("chainsaw_k4wl4y",
      width: 400, height: 300, crop: :fill) %>
