<div class="container" background-color="none">
  <div class="cards">
    <% @tools.each do |tool| %>
      <div class="card-category" > <%= link_to "#{tool.name} | #{tool.tool_type}", tool_path(tool), class:"name-link"%>
      </div>
    <% end %>
  </div>
</div>
<div class="map-users"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
