  <!-- basic footer -->
<div class="footer">
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon [website created by Anna, Denis and Justin]
  </div>
</div>
