<!-- navbar -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<!-- TOOLERO on navbar -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <p>TOOLERO</p>
    </li>
  </ul>
<!-- menu items on navbar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tools/new">Add a new tool</a>
      </li>
    </ul>
  </div>
</div>
