  <!-- container storing basic text -->
<div class="banner">
  <div class="banner-container">
    <div class="banner-text">
      <h1>Looking for a specific tool?</h1>
      <p>Find the largest selection of tools available in your neighborhood</p>
    </div>
  </div>
  <!-- container storing search bar w/ different user inputs -->
  <div class="card-container">
    <div class="card">
      <label for="location">Your current location</label>
      <select class="form-group" id="current_location" name="location">
        <option value="Munich">Munich</option>
        <option value="Berlin">Berlin</option>
        <option value="Frankfurt">Frankfurt</option>
      </select>
    </div>

    <div class="card">
      <label for="tool">What are you looking for?</h1>
      <div class="card">
        <%= form_tag tools_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-group",
              placeholder: "Find a tool"
            %>
            <div class="card">
              <label for="calendar">Check availabilities (from / to)</label>
              <div class="form-group" id="datepicker">
                <input type="date" name="from" />
                <input type="date" name="to" />
              </div>
            </div>
            <div class="search-button">
              <%= submit_tag "Search", class: "btn btn-flat" %>
            </div>
        <% end %>
      </div>
    </div>

  </div>
  <!-- search button that pushes to next action / tools overview page -->
</div>
